<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    안녕하세요<br>
    <a href="/register"> <button>등록</button> </a>

    <table>
        <tr>
            <th>no</th>
            <th>title</th>
            <th>content</th>
        </tr>
        <tr th:each="crudDTO : ${result.dtoList}">
            <td>
                <a th:href="@{/read(bno=${crudDTO.bno})}">
                    [[${crudDTO.bno}]]
                </a>
            </td>
            <td>[[${crudDTO.title}]]</td>
            <td>[[${crudDTO.content}]]</td>
        </tr>
    </table>

    <ul id="paging" class="pagination h-100 justify-content-center align-items-center">

        <li class="page-item " th:if="${result.prev}">
            <a class="page-link" th:href="@{/list(page= ${result.start -1},
                    type=${pageRequestDTO.type} ,
                    keyword = ${pageRequestDTO.keyword} ) }" tabindex="-1">이전</a>
        </li>

        <li th:class=" 'page-item ' + ${result.page == page?'active':''} " th:each="page: ${result.pageList}">
            <a class="page-link" th:href="@{/list(page = ${page} ,
                   type=${pageRequestDTO.type} ,
                   keyword = ${pageRequestDTO.keyword}  )}">
                [[${page}]]
            </a>
        </li>

        <li class="page-item" th:if="${result.next}">
            <a class="page-link" th:href="@{/list(page= ${result.end + 1} ,
                    type=${pageRequestDTO.type} ,
                    keyword = ${pageRequestDTO.keyword} )}">
                다음
            </a>
        </li>
    </ul>
</body>
</html>