<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    번호 : <input type="text" name="bno" th:value="${dto.bno}"><br>
    제목 : <input type="text" name="title" th:value="${dto.title}" > <br><br>
    내용 : <textarea rows="10" name="content">[[${dto.content}]]</textarea><br>

    <a th:href="@{/modify(bno=${dto.bno})}" class="btn btn-primary">수정</a>
    <a th:href="@{/delete(bno=${dto.bno})}" class="btn btn-primary">삭제</a>

    <div id="comment-form">
        <textarea  class="comment-content" name="content" rows="5", placeholder="댓글을 입력하세요."></textarea>
    </div>
    <button id="comment-btn" class="btn btn-success">등록</button>


    <ul class="reply-list">

    </ul>
</body>

<script th:inline="javascript">
    $(document).ready(function (){
        let bno = [[${dto.bno}]];  // 댓글 번호
        let comment = $(".comment-content");  // 댓글 내용

        $("#comment-btn").click(function (){  // 댓글 등록 버튼 클릭
            let data = {crud: bno, content: comment.val()}  // 데이터 게시글번호, 댓글 내용 담는다.
            console.log(data);
            $.ajax({
                url: '/crud/'+bno,
                type: "POST",
                data:JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                success: function (result) {
                    getCrudReply()
                    self.location.reload();
                }
            })
        });


        function getCrudReply(){  // 댓글 출력
            $.getJSON("/crud/" + bno, function (arr){
                console.log(arr);
                let str = "";

                $.each(arr, function (idx, reply) {
                    console.log(reply)

                    str += '<li>';
                    str += '<div>' + reply.content + '</div>';
                    str += '</li>';
                });
                $(".reply-list").html(str);
            });
        };
        getCrudReply();
    });



</script>
</html>