<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    번호 : <input type="text" name="bno" th:value="${dto.bno}"><br>
    제목 : <input type="text" name="title" th:value="${dto.title}" > <br><br>
    내용 : <textarea rows="10" name="content">[[${dto.content}]]</textarea><br>

    <a th:href="@{/modify(bno=${dto.bno})}" class="btn btn-primary">수정</a>
    <a th:href="@{/delete(bno=${dto.bno})}" class="btn btn-primary">삭제</a>
</body>
</html>